.servList{
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    gap: 20px;
}
.servList li{
    list-style: none;
    width:fit-content;
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
}
.servList li img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-right: 15px;
    border-right:1px dashed #ccc;
    padding-right: 15px;
    border-radius: 5px;
}
.servList li h3{
    font-size: 20px;
    margin-bottom: 10px;

}

.servList li a{
    text-decoration: none;
    color: #333;
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    position: relative;
    text-decoration: none !important;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border:1px dashed #ccc;
}
.servList li a:hover{
    text-decoration: none !important;
    color: #000;
    background: #8ee1e9 !important;
}
.servList li i{
    font-size: 18px;
    color: #007bff;
    position: absolute;
    bottom: -50%; 
    right: 35%;
    opacity: 0;
    transition: all 0.35s ease-in-out 0s;
}
.servList li a:hover i{
    color: #3298a1; 
    bottom:10px;
    opacity: 1;
}

.clientTable tr th:first-child{
    width: inherit;
}
.clientTable tr th:last-child{
    width: 180px;
}
.clientTable .p-button {
    padding: 5px;
    line-height: 1;
    height: 32px !important;
    width: 32px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 12px !important;
}
.clientTable .p-button-icon {
    font-size: 13px;
}
.table-hover>tbody>tr:hover {
    background: rgb(255 255 255) !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 1;
}

.p-tooltip{
    padding: 0px !important;
    font-size: 12px !important;
    line-height: 1;
    box-shadow: none !important;
}

.slide-out {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: 20%;
    opacity: 0;
}
    @-webkit-keyframes fadeOutLeft {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
}
    @keyframes fadeOutLeft {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
}

.slide-in {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
    @-webkit-keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
}
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
} 

.mainClientSec{
    overflow: hidden;
}
.p-error{
    position: absolute;
    bottom: 0;
    right: 0;
}
.w-form{
    padding-top: 25%;
}
.w-form .p-dropdown{
    border-radius: 30px;
    padding: 15px !important;
    height: 60px !important;
}

.w-form .p-button {
    height: 60px;
    width: 63px;
    border-radius: 50%;
    display: flex;
    transform: translateX(-48px);
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: absolute;
    right: 52px;
}
.w-form  .p-inputtext {
    padding: 1px 15px !important;
    font-size: 18px !important;
}
.Formcard{
    min-height: 70vh !important;

}
.Formcard .nav-link{
    padding: 2% 5% !important;
    margin: 0 !important;
    display: block !important;
    display: none !important;
}
.Formcard .nav-link.active{
    background: #00BCD4 !important;
    color: #fff !important;
    font-size: 15px;
    text-transform: capitalize;
    border-color: #109aab !important;
    display: block !important;
    width: fit-content;
    border-radius: 0 0 15px 15px;
}
.backbutton{
    position: absolute;
    right: 16px;
    top:16px;
    z-index: 22;
}

.faststform{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.faststform li {
    width: calc((100% - 48px) / 3);
    margin: 8px;
}
.faststform label{
    font-weight: 600;
    color: #000;
    font-size: 13px;
    margin-bottom: 8px;
}
.faststform label span{
    color: #ff0000;
}
.PhoneInputInput{
    flex: 1 1;
    min-width: 0;
    height: 46px;
    border: 0;
    
}
.PhoneInput{
    border: 1px solid #d1d5db;
    padding: 0 10px;
}
.PhoneInput input:focus-visible {
    outline: none;
    border: 0;
}
.client_proT table tr td{
    text-align: left;
    vertical-align: middle;
}
.client_proT table tr:first-child td, .client_proT table tr:first-child th{
    border-top: 0;
}
#username-help{
    font-size: 12px;
    color: #999999;
    margin-left: 8px;
    font-weight: 400;
}
.mainClientSec h4{
    color: #000;
    text-align: center;
    line-height: 36px;
    margin-top: 4%;
}
.product-Card{
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0 0 0;
    justify-content: center;
}
.product-Card .card {
    text-align: center;
    height: 100%;
    width: 260px;
    padding: 20px;
    height: 218px !important;
    margin: 8px 10px;
}
.product-Card .card img{
    width: 80px;
    object-fit: contain;
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.product-Card .card h3{
    font-size: 20px;
    color: #000;
    margin: 20px 0;
    display: block;
}
.product-Card .card i{
    color: #202020;
}
.product-Card a:hover img{
    width: 100px;
    object-fit: contain;
    padding: 6px;
    border-radius: 0px 0 8px 8px;
    transform: translateY(-20px);
}

.client_editform .form-control:disabled {
    background-color: #eee !important;
    opacity: 1 !important;
}
.client_editform label button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 15px;
}
.client_editform label button span{
    font-size: 13px; 
}


.p-dialog .addEm .card-body{
    max-height: 650px !important;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.client_editform label{
    display: flex;
    justify-content: space-between;
}

.client_det{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    list-style: none;
    padding: 0;
}
.client_det li {
    margin: 15px 45px 15px 0;
    width: 300px;
    
}

.client_det li small{
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: rgb(220 76 100 / 58%);
}

.client_det li span{
    display: block;
    font-weight:500;
    font-size: 14px;
    border-bottom:1px solid #ececec;
    margin-top: 6px;
    padding-bottom: 10px;
    color: #000;
}

.product-Card a:hover .fade-out-right {
    animation: fade-out-right 1s ease infinite;
    color: brown;
  }
  @keyframes fade-out-right {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(20px);
    }
  }

  .react-form-wizard .wizard-tab-content {
    min-height: auto !important;
    padding: 50px 20px 30px 20px !important;
    text-align: left !important;
}
.wizard-tab-content h3{
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-bottom: 25px !important;
}
.react-form-wizard .wizard-header{
    padding: 0 !important;
}

.p-fileupload .p-fileupload-buttonbar, .p-fileupload-content{
    padding: 10px;
}
.p-button-icon {
    width: 15px !important;
}
.p-button {
    padding: 6px 10px;
}
.p-button-label {
    font-size: 12px;
}
.wizard-tab-content label{
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
.wizard-tab-content small{
    font-size: 11px !important;
    color: #999999;
}
.p-fileupload-buttonbar .p-button {
    background: #000000;
    border: 1px solid #000000;
}

.wizard-tab-content .p-multiselect{
    height: 46px;
    position: relative;
}
.react-form-wizard.sm .wizard-navigation .wizard-progress-with-circle {
    background: #e5e4e1;
}

.react-form-wizard.sm .wizard-icon-circle {
    width: 40px !important;
    height: 40px !important;
}
.react-form-wizard.sm .wizard-navigation .wizard-progress-with-circle{
    top: 26px !important;
}

.prolistleft{
    margin: 0;
    padding: 0;
    list-style: none;
    --li-bg: #999;
    counter-reset: orderedlist;
}
.prolistleft li{
    position: relative;
}
.prolistleft li a{
    margin: 0;
    display: block;
    padding: 0;
    width: 100%;
    border: 1px solid #e9e9e9;
    padding: 10px 15px;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #fff;
}
.prolistleft li::before {
    counter-increment: orderedlist;
    content: counter(orderedlist);
    font-size: 12px;
    line-height: 0.75;
    width: 20px;
    padding-top: 0.25rem;
    text-align: center;
    color: #fff;
    background-color: var(--li-bg);
    /* border-radius: 0.25em; */
    display: flex;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;
}
.prolistleft li a h6{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    margin-bottom: 10PX;
    padding-left: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
}
.prolistleft li a p{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-weight: 400;
    margin-bottom: 5px;  
}
.prolistleft li a:hover{
    background: #f5f5f5;    
}
.cpList .prolistleft{
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.cpList{
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.cpList .prolistleft li.active a{
    background: #c5f8ff;
}
.cpList .prolistleft li.active a h6{
    border-bottom: 1px solid #97d7df;
}

.edit_clpro{
    background-color: transparent;
    color: #9333ea;
    border: 0 !important;
    width: 2.2rem !important;
    padding: 0 !important;
    border-radius: 50%;
    height: 2.2rem;
    /* position: absolute;
    right: 1%;
    top: 12%; */
    z-index: 22;
    font-size: 20px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.client_DET{
    list-style: none;
    padding: 0;
    margin: 0;
}
.client_DET li{
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
.client_DET li label{
    font-size: 14px;
    font-weight: 500;
    display: block;
    color: #696969;
}
.client_DET li .read-only-mode{
    border: 0 !important;
    padding-left: 0 !important;
}
.client_DET li .form-control{
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 600;
}
.client_DET li .form-control::placeholder{
    font-size: 14px !important;
    font-weight: 400 !important;
}