/* .card{
    height: 100% !important;
  }
  
  .card-header{
    font-size: 16px !important;
    text-transform:capitalize !important;
    color: #000 !important;
  }
  
  .dadhboard-table table tr th, .dadhboard-table table tr td{
    text-align: left !important;
    color: #000 !important;
    vertical-align: middle !important;
  }
  .dadhboard-table .emp_list_card {
    overflow: visible !important;
  }
  .dadhboard-table table tr td span{
    font-weight: 300;
    letter-spacing: 1px;
  }
  .dadhboard-table .react-datepicker__view-calendar-icon input, .table_sel {
    height: 28px !important;
    width: auto !important;
    padding-left: 12px !important;
    border: 1px solid #ced4da !important;
    color: #000 !important;
    line-height: 12px !important;
  }
  .dadhboard-table table tr td:nth-child(5), .dadhboard-table table tr td:nth-child(6), .dadhboard-table table tr td:nth-child(7){
    width: 183px !important;
  }
  .dadhboard-table .react-datepicker__input-container .react-datepicker__calendar-icon {
    padding: 0.4rem !important;
  }
  .dadhboard-table table tr td:last-child{
    width: 90px !important;
    text-align: center !important;
  }
  .digi{
    background: rgba(228, 248, 240, 0.7);
    border: solid #1ea97c;
    border-width: 0px;
    color: #1ea97c;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 15px;
    margin: 0 0 0 2px;
    border-radius: 6px;
    vertical-align: middle;
  }
  .emp_list_card .card-title .text-success{
    background: rgba(185, 255, 227, 0.7);
    border: solid #1ea97c;
    border-width: 0px;
    color: #1ea97c;
    font-size: 12px;
    font-weight: 500;
    padding:2px 8px;
    margin: 0 0 0 2px;
    border-radius: 6px;
    vertical-align: middle;
  }
  .emp_list_card .card-title .text-danger{
    background: rgba(255, 176, 173, 0.7);
    border: solid #ff5757;
    border-width: 0px;
    color: #ff5757;
    font-size: 12px;
    font-weight: 500;
    padding:2px 8px;
    margin: 0 0 0 2px;
    border-radius: 6px;
    vertical-align: middle;
  }
  ol, ul, dl{
    margin-bottom: 0 !important;
  }

  .p-unselectable-text .pi{
    margin-right: 10px;
    color:#757575;
  }
  .p-unselectable-text .p-tabview-title{
    color:#323030;
  }
  .profile_caed{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .pcl-card .card-title{
    color: #000;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 0;
    margin-bottom:20px;

  }

  .pcl-card h6{
    color: #323030;
    font-weight: 700;
    line-height: 1;
    padding: 0 !important;
    font-size: 14px;
  }
  .pcl-card p{
    color: #323030;
    font-size: 14px;
    padding: 0 !important;
    margin: 0;
    font-weight: 500;
  }
  .pcl-card small{
    color: #323030;
    font-size: 12px;
    padding: 0 !important;
  }
  .activEmp{
    position: absolute;
    top: 0px;
    right: 30px;
    display: flex;
    align-items: center;
    z-index: 11;
  }
  .activEmp small{
    font-size: 12px;
    margin-right: 10px;
    color: #757575;
  }

  .profile-card{
    color: #000;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 0;
    margin-bottom: 20px;
  }
  .profile-card .card{
    box-shadow: none;
    border: 1px solid #e0e0e0;
  }
  .project-date h6{
    padding: 5px 0;
    font-size: 15px;
    color: #000;
    font-weight: 500;
  }
  .project-date span{
    display: block;
    font-weight: 600;
    margin-top: 10px;
    color: #ff5757;
  }
  .profile-table td{
    border-bottom: 0;
    padding: 3px 0 !important;
  }
  .profile-table td span{
    font-weight: 700;
    color: #000;
    font-size: 16px;
  }
  .p-tabview-selected .p-tabview-nav-link{
    background-color: #ededed;
  } */