.p-tabview-nav{
    padding: 0;
    background: transparent;
    display:none ;
}
.tabbutton .p-button-outlined {
    border-radius: 6px;
    color: #000;
    border: 1px solid #06b6d4;
}
.tabbutton .p-button{
    border-radius: 6px;
}
.verify-table{
    height: 75vh !important;
    overflow: hidden;
    overflow-y: auto;
}
.verify-table .p-button {
    border-radius: 50%;
    font-size: 12px !important;
    height: 32px !important;
    line-height: 1;
    margin: 0 5px;
    padding: 5px;
    width: 32px;
}
.verify-table .p-tabview-nav-link{
    background-color: transparent;
}
.verify-table .p-inputtext, .verify-table .form-select, .verify-table .p-calendar{
    padding: 5px 15px !important;
    font-size: 13px !important;
    height: auto !important;
    margin: 0;
    border-radius: .25rem !important;
}
.verify-table .p-calendar{
    padding: 0 !important;
}

.verify-table .readonly {
    color: #000 ; /* Gray text */
    cursor: not-allowed !important; /* Not-allowed cursor */
    pointer-events: none; /* Disable interactions */
    border: 0 !important;
    background-color: transparent !important;
}
.verify-table .p-tabview-panel table tr td:last-child{
    text-align: center !important;
}
.verify-table .table tr td, .verify-table .table tr th{
    padding: 10px 15px !important;
}
.verify-table .p-tabview-panel table tr td input, .verify-table .p-tabview-panel table tr td .form-select{
    padding-left: 0 !important;
}
